.row {
    display: flex;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    font-size: 40px;
}

.board-size {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}

.options {
    display: flex;
}

button {
    height: 24px;
}
